$col : 12;
$color: orange;
$color-but: #DADADA;
$color-buthover: #C9C9C9;
$color-dark: rgb(54, 61, 66);
$color-primary: rgb(0, 133, 247);
$color-success: rgb(0, 164, 82);
$color-secondary: rgb(106, 117, 123);
$color-light: rgb(248, 249, 250);
$color-danger: rgb(235, 43, 74);
$color-warning: rgb(255, 186, 65);
$color-info: rgb(0, 163, 180); 
$color-white: white;
$color-muted: #E7E7E7;
$color-thumbnail: #DCDCDC; 
$rgbaDark: rgb(212, 215, 216);
$rgbaSuccess: rgb(207, 236, 218);
$rgbaprimary: rgb(196, 230, 253);
$rgbaSecondary: rgb(225, 226, 228);
$rgbaLight: rgb(254, 254, 254);
$rgbaDanger: rgb(253, 213, 217);
$rgbaWarning: rgb(255, 241, 207);
$rgbaInfo: rgb(202, 236, 240);
$rgbaWhite: rgba($color-white, .4);
$rgbaMuted: rgba($color-muted, .4);


